<div style="background-color:black; padding:10px;">
    <div style="background-color:white; margin:auto auto; text-align:center; max-width:600px; padding:20px;">
        <table border="0" cellspacing="0" cellpadding="0" style="width:100%;">
            <tr style="background-color:white">
                <td style="text-align:right;">
                    <span style="font-family:arial; font-size:18pt; font-weight:bold;">
                        <span style="color:red;">PROPERTY</span><span>DEAL MASTER</span>
                    </span>
                </td>
            </tr>
            <tr>
                <td><hr/></td>
            </tr>
            <tr>
                <td style="text-align:left;">
                    <p>Dear Sir/Mam,</p>
                    <p>
                        We have had a request that you wanted to register for our site.<br/>
                        Please click <a href="http://{{server}}:{{port}}/activate/{{userid}}">here</a> to activate your account.
                    </p>
                    <p>
                    <div>Kind regards</div>
                    <div>The Team at PropertyDeal Master</div>
                    </p>
                </td>
            </tr>
        </table>

    </div>
</div>
