{%extends "base.html"%}
{%block content%}
<div class="center-form">
<h3>New Password</h3>
<fieldset>
    <legend>Please specify a new password</legend>
    <form method="post" action="/change_password">
            <input type="hidden" readonly name="id" value="{{data.uuid}}"/>
        <p>
            <label>New Password</label>
            <input type="password" name="password"/>
        </p>
        <p>
            <input type="submit" value="Change password" class="formbutton">
        </p>
    </form>
</fieldset>
</div>
{%endblock%}