{%extends "base.html"%}

{%block content%}
<div class="center-form">
    <h2>Suggestions:</h2>
    <fieldset>
        <legend>Please let us know what we can do to improve our website to make it more usefull</legend>
    <form method="post" action="/suggestion">
        <p>
            <label>Name</label>
            <input type="text" name="name"/>
        </p>
        <p>
            <label>Email</label>
            <input type="text" name="email"/>
        </p>
        <p>
            <label>Suggestion</label>
            <textarea cols="60" rows="5" name="suggestion"></textarea>
        </p>
        <p>
            <input type="submit" value="Send Suggestion" class="formbutton"/>
        </p>
    </form>
    </fieldset>
    </div>
{%endblock%}